{% extends "template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="card text-center mt-2">
        <div class="card-header">
            <h5 class="card-title">Change password</h5>
        </div>
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
            <div class="row g-3 align-items-center">
                <div class="col-2">
                  <label for="inputPassword6" class="col-form-label">Password</label>
                </div>
                <div class="col-auto">
                  <input type="password" id="inputPassword6" name="password" class="form-control" required aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                  <span id="passwordHelpInline" class="form-text">
                    Must be 8-20 characters long.
                  </span>
                </div>
              </div>
              <div class="row mt-2 g-3 align-items-center">
                <div class="col-2">
                  <label for="inputPassword6" class="col-form-label">Reapat password</label>
                </div>
                <div class="col-auto">
                  <input type="password" name="password2" id="inputPassword6" class="form-control" required aria-describedby="passwordHelpInline">
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Change password</button>
                  </div>
              </div>
            </form>
        </div>
    </div>
{% endblock %}

