{% extends "template.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div class="card text-center mt-2">
        <div class="card-header">
            <h5 class="card-title">Your progress</h5>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Set</th>
                    <th scope="col">Start date</th>
                    <th scope="col">Status</th>
                    <th scope="col">Details</th>
                  </tr>
                </thead>
                <tbody>
                {% for try in user_tries %}
                  <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{try.fishcardset.name}} ({{try.number_of_cards}} cards)</td>
                    <td>{{try.created_at}}</td>
                    <td>{% if try.is_finished %}
                        <span class="badge text-bg-success">Finished</span>
                        {% else %}
                        <span class="badge text-bg-secondary">Not finished ({{try.completed_percentage}}%)</span>
                        {% endif %}</td>
                    <td><a href="{% url "try_detail" try.id %}" type="button" class="btn btn-link">Link</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}

